* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #FFFFFF;
}

.header {
  width: 20%;
  margin: 100px auto 0px;
  color: white;
  background:#343a40;
  text-align: center;
  border: 1px solid #343a40;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
form, .content {
  width: 20%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #343a40;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 20px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #4CAF50;
  border: none;
  border-radius: 5px;
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #FFFFFF; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}